
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;

}
.images img{
  height: 20rem;
  cursor: pointer;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 480px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
  }

  .images img {
    height: 15rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  .images {
    grid-template-columns: repeat(3, 1fr);
  }

  .images img {
    height: 18rem;
  }
}


.p {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  animation: slide 8s ease-in-out infinite;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color:black;
    padding: 10px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}
.footer-col ul li a:hover{
  color: #f7f3f3;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}



@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;


}
}
=======
.flex{
  display: flex;
  gap: 7em;
  margin-left: 5em;
  /* animation: slide-in 6s forwards;
  @keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: o;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    } */
}

.p{
  text-align: center;
  background-color:rgb(70, 20, 70);
  padding-bottom: 1em;
  margin-top: 2em;
  border-radius: 5px;
  
}
.p a{
  color: blueviolet;
  text-decoration: none;
  font-size: 30px;

}
.img1{
 
  border-radius: 5px;
  
}
.pink{
  color: pink;
}

.img1:hover{
  transform: scale(1) rotate(-5deg);
 
 }
 h1{
     text-align: center;
 }

 header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
background: linear-gradient(to right, purple,pink,orange);
  
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: aliceblue;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
  animation: slide-in 6s forwards;
  animation: slide-in 3s ease-in;
 @keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color:rgb(70, 20, 70);
  height: 100px;
  width: 320px;

}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}


.slide{
  animation: slideleft 1s linear forwards;
}
@keyframes slideleft{
  0%{
      transform: translate(100px);
      opacity: o;
  }
  100%{
      transform: translate(0px);
      opacity: 1;
  }
}
p.slide{
  animation-delay: 1s;
}
.links.slide{
  animation-delay: 2s;
}

@media only screen and (max-width: 600px) {


body{
  overflow-y: scroll;
  overflow-x: hidden;
}
  
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
  .flex{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-left: 3em;
}


}


.purple{
    color: orange;
}



